NODE_ENV=development

BACKEND_PORT=4000

DATABASE_URL=postgresql://postgres:password@localhost:5432/data_manage

DATA_ROOT=C:/Users/intern/projects/data-merge/data

SESSION_SECRET=2JEf7DdbsbU8rwdRKKxoRaP7da81D4ffBHnp17UsEeiYoB3l7wKhOznXouW6xcxb

SESSION_COOKIE_NAME=data_manage_session

MAX_UPLOAD_SIZE_MB=2048

NEXT_PUBLIC_API_URL=http://localhost:4000

ADMIN_NAME=Administrator
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@cms.com
ADMIN_PASSWORD=password123